In [2]:
import pandas as pd
from faker import Faker
from random import randint
import csv
import numpy as np
from datetime import datetime, timedelta

In [3]:
path = 'shops.csv'

In [4]:
shops_df = pd.read_csv(path)

In [5]:
shops_df

      id                                        address
0    A60                          Ялта, Маршака, 6, A60
1    B74  Севастополь, Орловка с., Качинское ш., 6, B74
2    A08                 Севастополь, Гагарина, 11, A08
3    A22                     Алушта, Пионерская, 1, A22
4    B76              Евпатория, Победы пр-т, 26-Д, B76
..   ...                                            ...
144  B86                                            B86
145  B87                                            B87
146  B88                                            B88
147  B90              Симферополь, Москалёва, 9/2А, B90
148  B85      Евпатория, Мирный пгт., Сырникова, 5, B85

[149 rows x 2 columns]

In [6]:
shop_list = shops_df['id'].unique()

In [7]:
shop_list

array(['A60', 'B74', 'A08', 'A22', 'B76', 'A29', 'A95', 'A03', 'A80',
       'A05', 'A90', 'B55', 'A89', 'A67', 'B51', 'B01', 'A21', 'A07',
       'B22', 'A49', 'A57', 'A65', 'A59', 'B32', 'A14', 'A52', 'B08',
       'A26', 'A68', 'A85', 'B50', 'A55', 'A09', 'A42', 'A41', 'A99',
       'B64', 'A11', 'B09', 'A83', 'A12', 'A81', 'B60', 'B57', 'B83',
       'A86', 'A82', 'B82', 'B02', 'A13', 'A93', 'A06', 'B16', 'A25',
       'B45', 'B24', 'A44', 'B14', 'B54', 'B31', 'A02', 'B46', 'A47',
       'B07', 'A43', 'A79', 'A48', 'B67', 'B12', 'B26', 'A40', 'B48',
       'B10', 'A88', 'B04', 'A51', 'B18', 'B53', 'A61', 'A27', 'B49',
       'A33', 'A75', 'A94', 'A50', 'A15', 'A54', 'A16', 'B47', 'A96',
       'B59', 'A30', 'A04', 'B81', 'B84', 'A39', 'B42', 'B75', 'A28',
       'B15', 'B05', 'A70', 'B27', 'B21', 'B72', 'A10', 'A63', 'A58',
       'A92', 'B56', 'B65', 'B58', 'B44', 'A84', 'A19', 'A31', 'A32',
       'B79', 'B11', 'B71', 'A18', 'A17', 'B73', 'A62', 'A66', 'A72',
       'A76', 'A56', 'A34', 'A69', 'A73', 'B70', 'A87', 'B69', 'B17',
       'A46', 'B66', 'B61', 'A36', 'A98', 'B03', 'B80', 'B68', 'B78',
       'B86', 'B87', 'B88', 'B90', 'B85'], dtype=object)

In [8]:
fake = Faker()
cities = ['London', 'Paris', 'Berlin', 'Rome', 'Madrid', 'Vienna', 'Dublin', 'Lisbon', 'Warsaw', 'Amsterdam']
streets = ['Baker Street', 'Fleet Street', 'Oxford Street', 'Wall Street', 'Abbey Road', 'Fifth Avenue', 'Elm Street', 'High Street', 'Park Avenue', 'Main Street']

In [12]:
for i in range(len(shop_list)):
    id_part = shop_list[i]
    city = cities[randint(0, 9)]
    street_name = streets[randint(0, 9)]
    street_number = fake.building_number()
    print(f"{id_part}\t{city}, {street_name}, {street_number}, {id_part}")

A60	London, Main Street, 85642, A60
B74	Paris, Wall Street, 80940, B74
A08	Dublin, Wall Street, 56964, A08
A22	Vienna, High Street, 315, A22
B76	Berlin, Elm Street, 027, B76
A29	Berlin, Oxford Street, 440, A29
A95	Amsterdam, High Street, 7846, A95
A03	Paris, Abbey Road, 674, A03
A80	Warsaw, Wall Street, 3644, A80
A05	Dublin, Wall Street, 647, A05
A90	Amsterdam, Main Street, 594, A90
B55	Amsterdam, Abbey Road, 52483, B55
A89	Lisbon, Fleet Street, 620, A89
A67	Lisbon, Baker Street, 72099, A67
B51	London, High Street, 44519, B51
B01	Vienna, Park Avenue, 4404, B01
A21	Dublin, Main Street, 050, A21
A07	Berlin, Main Street, 5021, A07
B22	Dublin, High Street, 5072, B22
A49	Vienna, Park Avenue, 503, A49
A57	Amsterdam, Baker Street, 3172, A57
A65	Paris, High Street, 2398, A65
A59	Amsterdam, Baker Street, 771, A59
B32	Berlin, Oxford Street, 697, B32
A14	Warsaw, Main Street, 991, A14
A52	Paris, Elm Street, 40071, A52
B08	Lisbon, Main Street, 0698, B08
A26	Lisbon, Elm Street, 7334, A26
A68	Lisbon, Park Avenue, 05338, A68
A85	Vienna, Baker Street, 798, A85
B50	Lisbon, Fifth Avenue, 5884, B50
A55	Berlin, Baker Street, 196, A55
A09	Lisbon, Elm Street, 3942, A09
A42	Warsaw, Park Avenue, 1257, A42
A41	Berlin, Park Avenue, 0503, A41
A99	Warsaw, Fifth Avenue, 074, A99
B64	Berlin, Fifth Avenue, 14476, B64
A11	Paris, Park Avenue, 65816, A11
B09	London, Fifth Avenue, 1732, B09
A83	Rome, Fleet Street, 386, A83
A12	Paris, Park Avenue, 6485, A12
A81	Lisbon, Abbey Road, 3103, A81
B60	Amsterdam, Abbey Road, 393, B60
B57	Vienna, Abbey Road, 2781, B57
B83	Warsaw, Abbey Road, 1145, B83
A86	Dublin, Fleet Street, 2711, A86
A82	Dublin, Wall Street, 39137, A82
B82	Lisbon, Fifth Avenue, 216, B82
B02	Dublin, Baker Street, 51240, B02
A13	Paris, Park Avenue, 9492, A13
A93	Berlin, Abbey Road, 574, A93
A06	Dublin, Oxford Street, 710, A06
B16	London, Elm Street, 622, B16
A25	Vienna, Fleet Street, 927, A25
B45	Berlin, Fifth Avenue, 025, B45
B24	London, Main Street, 04609, B24
A44	Dublin, Main Street, 373, A44
B14	Vienna, Baker Street, 90593, B14
B54	Amsterdam, Park Avenue, 293, B54
B31	Dublin, Wall Street, 771, B31
A02	Amsterdam, Wall Street, 49065, A02
B46	Vienna, Main Street, 02176, B46
A47	Vienna, Park Avenue, 155, A47
B07	Amsterdam, Elm Street, 02496, B07
A43	Vienna, High Street, 2933, A43
A79	Madrid, Fifth Avenue, 530, A79
A48	Madrid, Baker Street, 0459, A48
B67	Lisbon, Wall Street, 634, B67
B12	Lisbon, Park Avenue, 3006, B12
B26	Rome, Fleet Street, 01292, B26
A40	Lisbon, Fleet Street, 93771, A40
B48	Dublin, Abbey Road, 717, B48
B10	London, Park Avenue, 7254, B10
A88	London, Baker Street, 6254, A88
B04	Madrid, Fleet Street, 2005, B04
A51	Lisbon, Fifth Avenue, 5015, A51
B18	Lisbon, Wall Street, 1141, B18
B53	London, Wall Street, 668, B53
A61	Amsterdam, Fifth Avenue, 241, A61
A27	London, Main Street, 92134, A27
B49	Vienna, Abbey Road, 291, B49
A33	Berlin, High Street, 04739, A33
A75	London, High Street, 68210, A75
A94	London, High Street, 34061, A94
A50	Dublin, Abbey Road, 467, A50
A15	Dublin, Abbey Road, 97232, A15
A54	Madrid, Abbey Road, 171, A54
A16	Berlin, Main Street, 064, A16
B47	Madrid, Elm Street, 065, B47
A96	Vienna, High Street, 9837, A96
B59	Rome, Fleet Street, 300, B59
A30	Madrid, Fleet Street, 49341, A30
A04	Lisbon, Baker Street, 60284, A04
B81	London, Fifth Avenue, 356, B81
B84	Lisbon, Fifth Avenue, 405, B84
A39	London, Oxford Street, 842, A39
B42	Vienna, Fleet Street, 583, B42
B75	Lisbon, Baker Street, 3763, B75
A28	Warsaw, Elm Street, 31403, A28
B15	Warsaw, Abbey Road, 803, B15
B05	Berlin, Park Avenue, 3114, B05
A70	Paris, Oxford Street, 02845, A70
B27	London, Baker Street, 35847, B27
B21	Rome, Baker Street, 111, B21
B72	Dublin, Oxford Street, 297, B72
A10	Vienna, High Street, 214, A10
A63	Berlin, Park Avenue, 358, A63
A58	Amsterdam, Fifth Avenue, 5817, A58
A92	Madrid, Fleet Street, 523, A92
B56	Amsterdam, Abbey Road, 0802, B56
B65	Paris, Main Street, 57335, B65
B58	Lisbon, Fifth Avenue, 401, B58
B44	Dublin, Elm Street, 88818, B44
A84	Lisbon, Abbey Road, 68515, A84
A19	Paris, Oxford Street, 78689, A19
A31	Berlin, Fifth Avenue, 26384, A31
A32	Vienna, Baker Street, 1903, A32
B79	Warsaw, Fifth Avenue, 037, B79
B11	Berlin, Fifth Avenue, 5882, B11
B71	Madrid, Oxford Street, 46459, B71
A18	Dublin, Oxford Street, 952, A18
A17	Vienna, Fifth Avenue, 52803, A17
B73	Dublin, Fleet Street, 804, B73
A62	Berlin, Fleet Street, 0468, A62
A66	Vienna, Oxford Street, 836, A66
A72	Amsterdam, Oxford Street, 381, A72
A76	Lisbon, Fleet Street, 975, A76
A56	Amsterdam, Oxford Street, 5408, A56
A34	Amsterdam, Elm Street, 55651, A34
A69	Rome, Fleet Street, 8257, A69
A73	Madrid, Fleet Street, 767, A73
B70	Lisbon, Fifth Avenue, 04487, B70
A87	Lisbon, Oxford Street, 5756, A87
B69	Amsterdam, Abbey Road, 458, B69
B17	Paris, Oxford Street, 031, B17
A46	Madrid, Oxford Street, 286, A46
B66	Amsterdam, High Street, 8396, B66
B61	Paris, Main Street, 37088, B61
A36	Madrid, High Street, 370, A36
A98	Amsterdam, Oxford Street, 81643, A98
B03	Rome, Park Avenue, 806, B03
B80	Amsterdam, Fleet Street, 57150, B80
B68	Amsterdam, Elm Street, 902, B68
B78	Lisbon, Oxford Street, 341, B78
B86	Warsaw, Elm Street, 3105, B86
B87	Amsterdam, Abbey Road, 2858, B87
B88	Berlin, Wall Street, 788, B88
B90	Lisbon, Baker Street, 0914, B90
B85	Madrid, Fleet Street, 953, B85

In [19]:
with open('synthetic_data_shops.csv', 'w', newline='') as csvfile:
    fieldnames = ['ID', 'Address']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

    writer.writeheader()
    for i in range(len(shop_list)):
        id_part = shop_list[i]
        city = cities[randint(0, 9)]
        street_name = streets[randint(0, 9)]
        street_number = fake.building_number()
        writer.writerow({'ID': id_part, 'Address': f"{city}, {street_name} {street_number}"})

In [15]:
category_1 = ['Skin Care', 'Hair Care', 'Makeup', 'Fragrance', 'Bath & Body']
category_2 = ['Cleansers', 'Moisturizers', 'Masks', 'Shampoos', 'Conditioners', 'Lipstick', 'Mascara', 'Perfume', 'Body Wash', 'Body Lotion']
category_3 = ['Face Cleansers', 'Body Cleansers', 'Day Creams', 'Night Creams', 'Face Masks', 'Hair Masks', 'Matte Lipstick', 'Waterproof Mascara', 'Eau de Parfum', 'Body Scrubs']
brands = ['L’Oréal', 'Unilever', 'Estée Lauder', 'Procter & Gamble', 'Coty']

data = []

for i in range(200):  # generate 1000 products
    product_id = i + randint(1000, 3000)
    product_name = f"{brands[randint(0, 4)]} {fake.bs()} {randint(1, 500)}ml"
    data.append({
        'id': product_id,
        'product_name': product_name,
        'category_1': category_1[randint(0, 4)],
        'category_2': category_2[randint(0, 9)],
        'category_3': category_3[randint(0, 9)],
        'brand': brands[randint(0, 4)]
    })

df = pd.DataFrame(data)

# write DataFrame to CSV
df.to_csv('product_data.csv', index=False, encoding='utf-8')

In [14]:
# load the shop_id from the previously created CSV
df_product = pd.read_csv('shops.csv')
shop_ids = df_product['id'].unique().tolist()

data = []

for i in range(1000):  # generate 1000 transactions
    id = fake.unique.random_number(digits=5)
    user_id = fake.random_int(min=1000, max=9999)
    transaction_type = np.random.choice([0, 1], p=[0.95, 0.05])  # 90% probability for 0 and 10% for 1
    
    # generate purchase_date with random time component
    purchase_date = fake.date_time_between(start_date='-90d', end_date='-60d')
    
    # processed_at is same as purchase_date
    processed_at = purchase_date.date()
    
    gross_transaction_amount = randint(100, 10000)
    discount_amount = randint(0, 100)
    net_transaction_amount = gross_transaction_amount - discount_amount
    shop_id = np.random.choice(shop_ids)  # randomly choose a shop_id from the list

    data.append({
        'id': id,
        'user_id': user_id,
        'transaction_type': transaction_type,
        'purchase_date': purchase_date,
        'processed_at': processed_at,
        'gross_transaction_amount': gross_transaction_amount,
        'discount_amount': discount_amount,
        'net_transaction_amount': net_transaction_amount,
        'shop_id': shop_id
    })

df = pd.DataFrame(data)

# write DataFrame to CSV
df.to_csv('transaction_data.csv', index=False, encoding='utf-8')

In [16]:
df_product = pd.read_csv('product_data.csv')
product_ids = df_product['id'].unique().tolist()

df_transactions = pd.read_csv('transaction_data.csv')
purchase_ids = df_transactions['id'].unique().tolist()

In [22]:
data = []

for purchase_id in purchase_ids:
    num_items = randint(1, 10)  # random number of items between 1 and 10
    for _ in range(num_items):
        product_id = np.random.choice(product_ids)
        id = f'{purchase_id}-{_}'
        amount = np.random.choice([1, 2, 3], p=[0.7, 0.2, 0.1])
        price = randint(100, 1000)
        discount = randint(0, 100)
        marketing_rule = np.random.choice([0, 1])

        data.append({
            'id': id,
            'purchase_id': purchase_id,
            'product_id': product_id,
            'amount': amount,
            'price': price,
            'discount': discount,
            'marketing_rule': marketing_rule
        })

df = pd.DataFrame(data)

# write DataFrame to CSV
df.to_csv('items_data.csv', index=False, encoding='utf-8')